<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TODO APPLICATION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1> Welcome to the Todo Application.</h1>
    <p>Please Sign in if you have an account in this legendary application.</p>
    <a href="/login/signin"> Sign In </a>
    <p> Don't have an account? No worries. Sign up quick. </p>
    <a href="/login/signup"> Sign Up </a>
</body>
</html>