<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1> Welcome to the Sign Up page of the Todo Application </h1>
    <form action="/login/signup" method="post">
        UserName: <br>
        <input type="text" name="username" placeholder="Username"><br>
        Enter Password: <br>
        <input type="text" name="password" placeholder="Password"><br><br>
        <!-- confirm password remaining to add -->
        <input type="submit" value="Submit">
    </form> 
</body>
</html>